@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sansation";
  src: url("/Sansation_Bold.ttf");
}

.section-header h1 {
  font-size: 10vw;
  font-weight: 400;
  color: #fff;
  line-height: 100%;
  text-transform: uppercase;
}

.section-header p {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: right;
  width: 25%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #fccb00;
  color: black;
}

body::-webkit-scrollbar {
  background: #00000000;
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background: #000000;
}

body {
  width: 100%;
  min-height: 100vh;
}

@media screen and (min-width: 960px) {
  #scrollItemsCart::-webkit-scrollbar {
    width: 10px;
  }

  body {
    padding-right: 14px;
  }

  #scrollItemsCart::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
  }
}

html {
  overflow-x: hidden;
}

.webkitBlurIos250 {
  -webkit-filter: blur(250px);
  filter: blur(250px);
}

.webkitBlurIos130 {
  -webkit-filter: blur(130px);
  filter: blur(130px);
}

.webkitBlurIos80 {
  -webkit-filter: blur(80px);
  filter: blur(80px);
}

.webkitBgBlurIos16 {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.Toastify__toast-body {
  font-family: "Bricolage Grotesque", "sans-serif";
}

.indicatorL {
  position: relative;
}

.indicatorL::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -7px;
  width: 7px;
  height: 7px;
  background: #fccb00;
  border-radius: 2px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease 0s;
}

.indicatorL.active::before {
  opacity: 1;
  visibility: visible;
}

.indicatorR {
  position: relative;
}

.indicatorR::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10.5px;
  width: 7px;
  height: 7px;
  background: #fccb00;
  border-radius: 2px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease 0s;
}

.indicatorR.active::before {
  opacity: 1;
  visibility: visible;
  transition: all 250ms ease 0.3s;
}

.thumbS .swipper-wrapper {
  margin: 0 auto !important;
}

.dropShadowCustom {
  filter: drop-shadow(0px 0px 10px #000);
}

.sliderSwitch:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 20px;
  left: 2.4px;
  bottom: 1.6px;
  background-color: #adb5bd;
  transition: 0.3s;
}

.inpCheckSwitch:checked+.sliderSwitch {
  background-color: #fccb00;
  border: 1px solid #fccb00;
}

.inpCheckSwitch:checked+.sliderSwitch:before {
  transform: translateX(1.15em);
  background-color: #fff;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #707070;
  content: attr(data-placeholder);
  float: left;
  font-weight: 400;
  height: 0;
  pointer-events: none;
}

ul,
ol {
  padding: 0 1rem;
  margin: 0.4rem;
  list-style-position: inside;
}

ul {
  list-style: initial;
  list-style-type: square;
}

ol {
  list-style: decimal;
}

li {
  position: relative;
}

li p {
  display: inline;
  position: relative;
}

ul>li p {
  left: -4px;
}

ol>li p {
  left: 3px;
}

ul>li {
  left: 3px;
}

blockquote {
  border-left: 3px solid #ffffff1a;
  margin: 0.5rem 0;
  padding-left: 1rem;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

p>a {
  color: #fccb00;
  cursor: pointer;
}

p>strong {
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (min-width: 1280px) {
  html.lenis:not(.lenis-stopped) nav {
    padding-right: calc(6.25rem - 14px);
  }

  html.lenis:has(.lenis-stopped) nav {
    padding-right: 6.25rem;
  }
}

.loader {
  width: 65px;
  height: 65px;
  border: 8px solid #ee9b00a6;
  border-radius: 50px;
  position: relative;
}

.loader span {
  display: block;
  background: #ee9b00;
}

.loader .hour,
.loader .min {
  width: 6px;
  height: 22px;
  border-radius: 50px;
  position: absolute;
  top: 24.5px;
  left: 21px;
  animation: load9243 1.2s linear infinite;
  transform-origin: top center;
}

.loader .min {
  height: 17px;
  animation: load9243 4s linear infinite;
}

.loader .circel {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: 19px;
  left: 19px;
}

@keyframes load9243 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.react-transform-wrapper,
.react-transform-component {
  width: 100vw !important;
  height: 100% !important;
  cursor: grab;
}

.btcpay-form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btcpay-form--inline {
  flex-direction: row;
}

.btcpay-form--block {
  flex-direction: column;
}

.btcpay-form--inline .submit {
  margin-left: 15px;
}

.btcpay-form--block select {
  margin-bottom: 10px;
}

.btcpay-form .btcpay-custom-container {
  text-align: center;
}

.btcpay-custom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btcpay-form .plus-minus {
  cursor: pointer;
  font-size: 25px;
  line-height: 25px;
  background: #dfe0e1;
  height: 30px;
  width: 45px;
  border: none;
  border-radius: 60px;
  margin: auto 5px;
  display: inline-flex;
  justify-content: center;
}

.btcpay-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: currentColor;
  background: transparent;
  border: 1px solid transparent;
  display: block;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
  cursor: pointer;
}

.btcpay-form select:hover {
  border-color: #ccc;
}

.btcpay-form option {
  color: #000;
  background: rgba(0, 0, 0, 0.1);
}

input[type="range"].btcpay-input-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"].btcpay-input-range:focus {
  outline: 0;
}

input[type="range"].btcpay-input-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 0 0 1.7px #020, 0 0 0 #003c00;
  background: #5a5a5a;
  border-radius: 1px;
  border: 0;
}

input[type="range"].btcpay-input-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 2.5px solid #cedc21;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #0f3723;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.45px;
}

input[type="range"].btcpay-input-range:focus::-webkit-slider-runnable-track {
  background: #5a5a5a;
}

input[type="range"].btcpay-input-range::-moz-range-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 0 0 1.7px #020, 0 0 0 #003c00;
  background: #f3f3f3;
  border-radius: 1px;
  border: 0;
}

input[type="range"].btcpay-input-range::-moz-range-thumb {
  box-shadow: none;
  border: 2.5px solid #cedc21;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #0f3723;
  cursor: pointer;
}

input[type="range"].btcpay-input-range::-ms-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  background: 0 0;
  border-color: transparent;
  color: transparent;
}

input[type="range"].btcpay-input-range::-ms-fill-lower {
  background: #e6e6e6;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 1.7px #020, 0 0 0 #003c00;
}

input[type="range"].btcpay-input-range::-ms-fill-upper {
  background: #f3f3f3;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 1.7px #020, 0 0 0 #003c00;
}

input[type="range"].btcpay-input-range::-ms-thumb {
  box-shadow: none;
  border: 2.5px solid #cedc21;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #0f3723;
  cursor: pointer;
  height: 3.1px;
}

input[type="range"].btcpay-input-range:focus::-ms-fill-lower {
  background: #f3f3f3;
}

input[type="range"].btcpay-input-range:focus::-ms-fill-upper {
  background: #fff;
}